<td colspan="2" ng-if="!json.fetched">
    <small class="text-muted">{{uri}}</small>

    <span ng-if="json.fetching"> <i class="fa fa-spinner fa-spin"></i></span>
    <span ng-if="json.queued_for_fetching"> <i class="fa fa-spinner"></i></span>
</td>

<td ng-if="json.fetched">
    <a href="checklist?tree={{uri}}">{{json.label}}</a> {{json.description}}
    | <a href="search?tree={{uri}}"><i class="fa fa-search"></i></a></span>

    <span ng-if="json.fetching"> <i class="fa fa-spinner fa-spin"></i></span>
    <span ng-if="json.queued_for_fetching"> <i class="fa fa-spinner"></i></span>
</td>

<td colspan="2" ng-if="failedtoload">
    <small>Could not fetch {{uri}}</small>
</td>
