<div id="tree-edit-app-pane">
    <div id="tree-edit-app-nav">
        <span class="pull-right">
            <span ng-if="isLoggedIn()">
                Logged in as {{getUser()}}. JWT is {{getJwt()}}.
                <a class="btn btn-default btn-sm" ng-click="logout()">Logout</a>
            </span>
            <span ng-if="!isLoggedIn()">
                <input ng-model="user.name" />
                <input ng-model="user.password" />
                <a class="btn btn-default btn-sm" ng-click="login()" >Login</a>
            </span>
        </span>

        <span class="dropdown" ng-mouseleave="namespaceDropdown_visible = false">
            <button class="btn btn-default dropdown-toggle" ng-click="namespaceDropdown_visible = !namespaceDropdown_visible">
                {{appScope.namespace ? appScope.namespace : 'no namespace'}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" ng-class="namespaceDropdown_visible ? 'display-block' : 'display-none'">
                <li>
                    <span class="pull-right"><i ng-class="loading ? 'disabled' : ''"
                                                ng-click="reloadNamespaces()" class="fa fa-refresh fabutton"
                                                                       ng-class="loadingNamespaces ? 'fa-spin' : ''"></i></span>
                </li>

                <li ng-repeat="ns in namespaces track by ns.name" ng-click="namespaceDropdown_click(ns)">
                    <a href="#">{{ns.name}} <span ng-bind-html="ns.descriptionHtml"/></a>
                </li>
            </ul>
        </span>

        <a class="btn btn-default btn-sm" ng-click="view_refs = !view_refs" ng-class="view_refs ? 'active' : ''">View refs</a>
    </div>
    <div id="tree-edit-app-main">
        <div id="tree-edit-app-working">
            <div id="tree-edit-app-working-header" style="display: table; width: 100%; ">
                <div style="display: table-row; ">
                    <div id="tree-edit-app-working-left-header"
                         style="display: table-cell; width: 50%;" itemheader uri="{{appScope.leftHeaderUri}}" panelabel="left"></div>
                    <div id="tree-edit-app-working-right-header"
                         style="display: table-cell; width: 50%;" itemheader uri="{{appScope.rightHeaderUri}}" panelabel="right"></div>
                </div>
            </div>
            <div id="tree-edit-app-working-body"
                 style="position: absolute; left:0; right: 0; bottom: 0; height:0; display:none;">
                <div id="tree-edit-app-working-body-left"  style="height: 100%; width: 50%; display:inline-block; float:left; overflow-y: auto; overflow-x: wrap;" itembody uri="{{appScope.leftBodyUri}}">
                </div>
                <div id="tree-edit-app-working-body-right" style="height: 100%; width: 50%; display:inline-block; float:right; overflow-y: auto; overflow-x: wrap;" itembody uri="{{appScope.rightBodyUri}}">
                </div>
            </div>
        </div>
        <div id="tree-edit-app-rightpanel">
            <div style="position: absolute; left: 0; right: 0; top: 0; height: 30px; padding: 2px;">
                <a class="btn btn-default btn-xs" ng-class="rightpanel_select=='cls' ? 'active' : ''"
                   ng-click="rightpanel_select='cls'">Classifications</a>
                <a class="btn btn-default btn-xs" ng-class="rightpanel_select=='wrk' ? 'active' : ''"
                   ng-click="rightpanel_select='wrk'">Workspaces</a>
                <a class="btn btn-default btn-xs" ng-class="rightpanel_select=='flagged' ? 'active' : ''"
                   ng-click="rightpanel_select='flagged'">Flagged</a>
                <a class="btn btn-default btn-xs" ng-class="rightpanel_select=='sch' ? 'active' : ''"
                   ng-click="rightpanel_select='sch'">Search</a>
                <a class="btn btn-default btn-xs" ng-class="rightpanel_select=='fav' ? 'active' : ''"
                   ng-click="rightpanel_select='fav'">Favourites</a>
                <a class="btn btn-default btn-xs" ng-class="rightpanel_select=='prf' ? 'active' : ''"
                   ng-click="rightpanel_select='prf'">Profile</a>
                <a class="btn btn-default btn-xs" ng-class="rightpanel_select=='val' ? 'active' : ''"
                   ng-click="rightpanel_select='val'">Validation</a>
            </div>
            <div style="position: absolute; left: 0; right: 0; top: 35px; bottom: 0; margin: 2px;">
                <div style="position: absolute; left: 0; right: 0; top: 0; bottom: 0; overflow-x: hidden; overflow-y: scroll;"
                        ng-class="rightpanel_select=='cls' ? '' : 'hidden'" >
                    <classifications-list services-url="{{servicesUrl}}"/>
                </div>
                <div style="position: absolute; left: 0; right: 0; top: 0; bottom: 0; overflow-x: hidden; overflow-y: scroll;"
                     ng-class="rightpanel_select=='wrk' ? '' : 'hidden'">
                    <workspaces-pane services-url="{{servicesUrl}}"/>
                </div>
                <div style="position: absolute; left: 0; right: 0; top: 0; bottom: 0; overflow-x: hidden; overflow-y: scroll;"
                     ng-class="rightpanel_select=='fav' ? '' : 'hidden'">
                    Favourites
                </div>
                <div style="position: absolute; left: 0; right: 0; top: 0; bottom: 0; overflow-x: hidden; overflow-y: scroll;"
                     ng-class="rightpanel_select=='flagged' ? '' : 'hidden'">
                    <div flagged-items/>
                </div>
                <div style="position: absolute; left: 0; right: 0; top: 0; bottom: 0;"
                     class="container-fluid"
                     ng-class="rightpanel_select=='sch' ? '' : 'hidden'">
                    <row class="input-group" >
                        <input type="text" class="form-control" placeholder="Name (etc.) &hellip;">
                        <a class="input-group-addon btn btn-primary">Search</a>
                    </row>

                    <row style="position: absolute; left: 0; right: 0; top: 40px; bottom: 0; overflow-x: hidden; overflow-y: scroll;">
                        Search results lkh aslkfg alskdjfklajsdh flkjasdh fkljahs dfkljhas jklfh asdkjlfh <br/>
                        Search results lkh aslkfg alskdjg lajsdh flkjasdh fkljahs dfkljhas jklfh asdkjlfh <br/>
                        Search results lkh aslkfg alskdfg kajsdh flkjasdh fkljahs dfkljhas jklfh asdkjlfh <br/>
                        Search results lkh aslkfg alskjfg klsdh flkjasdh fkljahs dfkljhas jklfh asdkjlfh <br/>
                        Search results lkh aslkfg alskdjfg kajsdh flkjasdh fkljahs dfkljhas jklfh asdkjlfh <br/>
                        Search results lkh aslkfg alkdjfg kljsdh flkjasdh fkljahs dfkljhas jklfh asdkjlfh <br/>
                        Search results lkh aslkfg askdjfg kljsdh flkjasdh fkljahs dfkljhas jklfh asdkjlfh <br/>
                        Search results lkh aslkfg alskdjfg kajsdh flkjasdh fkljahs dfkljhas jklfh asdkjlfh <br/>
                        Search results lkh aslkfgalskdjfg klajsdh flkjasdh fkljahs dfkljhas jklfh asdkjlfh <br/>
                        Search results lkh aslkf alskdjfg klasdh flkjasdh fkljahs dfkljhas jklfh asdkjlfh <br/>
                        Search results lkh aslkg alskdjfg klajdh flkjasdh fkljahs dfkljhas jklfh asdkjlfh <br/>
                        Search results lkh aslfg alskdjfg klajsh flkjasdh fkljahs dfkljhas jklfh asdkjlfh <br/>
                        Search results lkh askfg alskdjfg klajsd flkjasdh fkljahs dfkljhas jklfh asdkjlfh <br/>
                        Search results lkh alkfg alskdjfg klajsd flkjasdh fkljahs dfkljhas jklfh asdkjlfh <br/>
                        Search results lkh slkfg alskdjfg klajsdhflkjasdh fkljahs dfkljhas jklfh asdkjlfh <br/>
                        Search results lkhaslkfg alskdjfg klajsdh lkjasdh fkljahs dfkljhas jklfh asdkjlfh <br/>
                        Search results lkh aslkfg alskdjfg klajsdh lkjasdh fkljahs dfkljhas jklfh asdkjlfh <br/>
                        Search results lh aslkfg alskdjfg klajsdh fljsdh fkljahs dfkljhas jklfh asdkjlfh <br/>
                        Search results kh aslkfg alskdjfg klajsdh flkjsdh fkljahs dfkljhas jklfh asdkjlfh <br/>
                        Search resultslkh aslkfg alskdjfg klajsdh flkjash fkljahs dfkljhas jklfh asdkjlfh <br/>
                        Search result lkh aslkfg alskdjfg klajsdh flkjasd fkljahs dfkljhas jklfh asdkjlfh <br/>
                        Search resuls lkh aslkfg alskdjfg klajsdh flkjasdhfkljahs dfkljhas jklfh asdkjlfh <br/>
                        Search resuts lkh aslkfg alskdjfg klajsdh flkjasdh kljahs dfkljhas jklfh asdkjlfh <br/>
                        Search reslts lkh aslkfg alskdjfg klajsdh flkjasdh fkjahs dfkljhas jklfh asdkjlfh <br/>
                        Search reults lkh aslkfg alskdjfg klajsdh flkjasdh fklahs dfkljhas jklfh asdkjlfh <br/>
                        Search results lkh aslkfg alskdjfg klajsdh flkjasdh fklahs dfkljhas jklfh asdkjlfh <br/>
                        Search reults lkh aslkfg alskdjfg klajsdh flkjasdh fkljas dfkljhas jklfh asdkjlfh <br/>
                    </row>
                </div>
                <div style="position: absolute; left: 0; right: 0; top: 0; bottom: 0; overflow-y: scroll;"
                     ng-class="rightpanel_select=='prf' ? '' : 'hidden'">
                    Profile
                </div>
                <div style="position: absolute; left: 0; right: 0; top: 0; bottom: 0;"
                     ng-class="rightpanel_select=='val' ? '' : 'hidden'">
                    Validation
                </div>
            </div>

        </div>
    </div>
    <div id="tree-edit-app-footer">
        {{footer}}
    </div>

</div>

