<div class="tree-edit-workspace-pane tree-edit-control-pane container-fluid">
    <row>
        <span class="col-sm-12">
            <span class="pull-right"><a class="badge" ng-class="loading ? 'disabled' : ''"
                                        ng-click="reload()"><i class="fa fa-refresh"
                                                               ng-class="loading ? 'fa-spin' : ''"></i></a></span>
            <h4>Workspaces</h4>
        </span>
    </row>
    <row>
        <messages class="col-sm-12"/>
    </row>

    <div ng-if="pane=='list'">
        <div ng-if="loaded" ng-repeat="i in workspaces track by $index" class="container-fluid">
            <row>
            <span class="pull-right">
                <a class="badge" ng-if="appScope.isLoggedIn()" ng-click="editWorkspace(i)"><i class="fa fa-edit"></i></a>
                <a class="badge" ng-click="loadLeft(i)"><i class="fa fa-arrow-circle-left"></i></a>
                <a class="badge" ng-click="loadRight(i)"><i class="fa fa-arrow-circle-right"></i></a>
            </span>
            <span class="col-sm-11">
                <item uri="{{i}}"/>
            </span>
                <span class="col-sm-1"></span>
            </row>
        </div>

        <row ng-if="appScope.isLoggedIn()">
            <span class="col-sm-12">
                <button class="btn" ng-click="editNewWorkspace()"><i class="fa fa-plus"></i> New Workspace</button>
            </span>
        </row>
    </div>

    <div ng-if="pane=='edit'">
        <fieldset class="form-group" ng-if="editForm.loaded">
            <label for="edit-form-owner">Owner</label>
            <span class="form-control" id="edit-form-owner" style="border: none;">{{editForm.owner}}</span>
            <small class="text-muted" ng-if="editForm.uri && editForm.owner!=appScope.getUser()">This workspace may only be modified by its owner.</small>
        </fieldset>
        <fieldset class="form-group" ng-if="editForm.loaded" ng-class="editForm.uri && editForm.owner!=appScope.getUser() ? 'disabled' : ''">
            <label for="edit-form-label">Label</label>
            <input type="text" class="form-control" id="edit-form-label" ng-model="editForm.title" placeholder="required"/>
            <small class="text-muted">A short label</small>
        </fieldset>
        <fieldset class="form-group" ng-if="editForm.loaded" ng-class="editForm.uri && editForm.owner!=appScope.getUser() ? 'disabled' : ''">
            <label for="edit-form-description">Description</label>
            <textarea class="form-control" id="edit-form-description" ng-model="editForm.description"/>
            <small class="text-muted">Description with formatting</small>
        </fieldset>
        <fieldset class="form-group">
            <button class="btn btn-primary" ng-if="editForm.loaded && !editForm.uri" ng-click="createWorkspace()"><i class="fa fa-plus"></i> Create</button>
            <button class="btn btn-primary" ng-if="editForm.loaded && editForm.uri" ng-click="saveWorkspace()" ng-class="editForm.owner==appScope.getUser() ? '' : 'disabled'" ><i class="fa fa-check"></i> Save</button>
            <button class="btn btn-danger" ng-if="editForm.loaded && editForm.uri" ng-click="deleteWorkspace()" ng-class="editForm.owner==appScope.getUser() ? '' : 'disabled'" ><i class="fa fa-trash"></i> Delete</button>
            <button class="btn" ng-click="backToList()"><i class="fa fa-back"></i> Cancel</button>
        </fieldset>
    </div>

</div>
