<div class="tree-edit-flagged-pane tree-edit-control-pane container-fluid">
    <row>
        <span class="col-sm-12">
            <span class="pull-right"><i ng-click="removeUnflagged()" class="fa fa-eraser fabutton pull-right"></i></span>
            <h4>Flagged items</h4>
        </span>
    </row>
    <div ng-repeat="(uri, isFlagged) in flagged" class="container-fluid">
        <i ng-click="toggleFlagged(uri)" class="fa fa-flag fabutton pull-right" ng-class="isFlagged ? 'flag-on' : 'flag-off'"></i>
        {{uri}}
    </div>
</div>
