<div ng-if="itemScope.uri" class="container-fluid">
    <item uri="{{itemScope.uri}}"/>
    <div ng-if="loadedHistory" style="font-size: smaller;">
        <i class="fa fa-chevron-left fabutton"  ng-if="historyMoreRecent" ng-click="historyMoreRecentClick()"></i>
        <span ng-repeat="h in historyWindow track by $index" >
            <span class="fabutton" ng-click="selectHistory(h.uri)"
                  ng-class="h.uri == selected ? 'bg-primary' : ''">
                {{h.date}}
            </span>
        </span>
        <i class="fa fa-chevron-right fabutton" ng-if="historyLessRecent" ng-click="historyLessRecentClick()"></i>
    </div>
    <div ng-if="loadingHistory">
        <i class="fa fa-refresh fabutton fa-spin"></i>
    </div>
</div>