<div class="item-body">
    <div ng-if="uri && !hideItem" class="item-body-content" ng-click="selectItem()" ng-class="isSelected() ? 'item-body-content-selected' : ''"
         ng-mouseover="item_body_content_mouseover()" ng-mouseleave="item_body_content_mouseleave()">

        <span ng-if="!hideHandle" class="item-body-tree-handle">
            <span ng-if="loading">
                <i class="fa fa-refresh fa-spin fabutton"></i>
            </span>
            <span ng-if="loaded && !readySubitems">
                <i class="fa fa-circle-o fabutton"></i>
            </span>
            <span ng-if="loaded && readySubitems && !isOpen" ng-click="open()">
                <i class="fa fa-chevron-circle-right fabutton"></i>
            </span>
            <span ng-if="loaded && readySubitems && isOpen" ng-click="close()">
                <i class="fa fa-chevron-circle-down fabutton"></i>
            </span>
        </span>

        <span ng-if="!loading && body_content_hover">
            <span ng-if="!body_context_menu" class="pull-right">
                <i ng-click="reload()" class="fa fa-refresh fabutton"></i>
                <i ng-click="open_context_menu()" class="fa fa-edit fabutton"></i>
                <i ng-click="toggle_flag()" class="fa fa-flag fabutton" ng-class="flagged ? 'flag-on' : 'flag-off'"></i>
            </span>

            <div ng-if="body_context_menu" class="pull-right item-body-context-menu" style="position: relative; top: 0; right: 0;">
                <span class="pull-right">
                    <i class="fa fa-close fabutton"  ng-click="close_context_menu()"></i>
                </span>
                <h4>
                    context menu goes here
                </h4>
                <div>
                    Checkout/Checkin/Revert
                </div>
                <div>
                    Add flagged items here
                </div>
            </div>
        </span>

        <span class="pull-right" ng-if="loading || !body_content_hover">
            <i ng-click="toggle_flag()" class="fa fa-flag fabutton" ng-class="flagged ? 'flag-on' : 'hidden'"></i>
        </span>


        <span class="item-body-content-text">
            <span ng-if="loading">
                <span>
                    {{contextType}}/{{contextId}}: <a href="{{uri}}">{{uri}}</a><br/>
                </span>
            </span>
            <span ng-if="!loading && !loaded">
                <span>
                    {{response.status}} - {{response.statusText}}
                </span>
                <span>
                    <a href="{{uri}}">{{uri}}</a>
                </span>
            </span>
            <span ng-if="loaded">
                <span ng-switch="data.class">
                    <span ng-switch-when="au.org.biodiversity.nsl.Arrangement">
                        <span ng-switch="data.arrangementType.name">
                            <span ng-switch-when="P">
                                {{data.label}}
                                <span ng-if="data.title"> - {{data.title}}</span>
                                <span class="small" ng-if="data.description" >: {{data.description}}</span>
                            </span>
                            <span ng-switch-when="U">
                                Workspace: {{data.title}} ({{data.owner}})
                            </span>
                            <span ng-switch-default>
                                Arrangement type {{data.arrangementType.name}}
                            </span>
                        </span>
                    </span>
                    <span ng-switch-when="au.org.biodiversity.nsl.Node" ng-class="data.typeUri.css">
                        <span ng-switch="data.type">
                            <span ng-switch-when="T">
                                <span ng-switch="data.typeUri.uri">
                                    <span ng-switch-when="http://biodiversity.org.au/voc/boatree/BOATREE#classification-root">
                                        {{data.checkedInAt.timeStamp}}
                                    </span>
                                    <span ng-switch-default>
                                        <span ng-bind-html="data.name.fullNameHtml"/>
                                        <span ng-if="appScope.view_refs && data.instance">
                                            s. <span ng-bind-html="data.instance.citationHtml"/>
                                        </span>
                                    </span>
                                </span>

                            </span>
                            <span ng-switch-when="S">
                                <span ng-switch="data.typeUri.uri">
                                    <span ng-switch-when="http://biodiversity.org.au/voc/boatree/BOATREE#classification-node">
                                        {{data.arrangement.label}} persistent top node
                                    </span>
                                    <span ng-switch-when="http://biodiversity.org.au/voc/boatree/BOATREE#workspace-node">
                                        Workspace persistent top node
                                    </span>
                                    <span ng-switch-when="http://biodiversity.org.au/voc/boatree/BOATREE#workspace-root">
                                        {{data.checkedInAt.timeStamp}}
                                    </span>
                                    <span ng-switch-default>
                                        {{data.typeUri.idPart}}
                                    </span>
                                </span>
                            </span>
                            <div ng-switch-default>
                                {{data.typeUri.idPart}} {{contextId}}
                            </div>
                        </span>
                    </span>
                    <div ng-switch-default>
                        This is a {{data.class}} item<br/>
                    </div>
                </span>
            </span>
        </span>
    </div>
    <div ng-if="loaded && subitems" class="item-body-sublist" ng-class="(isOpen ? 'item-body-sublist-open' : 'item-body-sublist-closed') + (hideIndent ? ' no-indent' : '')">
        <div ng-repeat="i in subitems" itembody uri="{{i.uri}}" context-type="{{i.contextType}}" context-id="{{i.contextId}}"/>
    </div>
</div>