<div class="container-fluid">
    <row>
        <span ng-if="loading">
            <span class="col-sm-11">
                <a href="{{uri}}">{{uri}}</a><br/>
            </span>
        </span>
        <span ng-if="!loading && !loaded">
            <span class="col-sm-3">
                {{response.status}} - {{response.statusText}}
            </span>
            <span class="col-sm-8">
                <a href="{{uri}}">{{uri}}</a>
            </span>
        </span>
        <span ng-if="loaded">
            <span ng-switch="data.class">
                <span ng-switch-when="au.org.biodiversity.nsl.Arrangement">
                    <span ng-switch="data.arrangementType.name">
                        <row ng-switch-when="P">
                            <span class="col-sm-2"><a href="{{uri}}">{{data.label}}</a></span>
                            <span class="col-sm-9">{{data.description}}</span>
                        </row>
                        <div ng-switch-when="U">
                            <row>
                                <span class="col-sm-10"><a href="{{uri}}">{{data.title}}</a></span>
                                <span class="col-sm-2">{{data.owner}}</span>
                            </row>
                            <row ng-if="data.description">
                                <span class="col-sm-12">{{data.description}}</span>
                            </row>
                        </div>
                        <row ng-switch-default>
                            {{data.arrangementType.name}} arrangement<br/>
                            <a href="{{uri}}">{{uri}}</a><br/>
                            {{data}}
                        </row>
                    </span>
                </span>
                <row ng-switch-default>
                    dont know how to render a {{data.class}}<br/>
                    <a href="{{uri}}">{{uri}}</a><br/>
                    {{data}}
                </row>
            </span>
        </span>
        <span class="col-sm-1">
            <a class="badge" ng-class="loading ? 'disabled' : ''"
               ng-click="reload()"><i class="fa fa-refresh"
                                      ng-class="loading ? 'fa-spin' : ''"></i></a>
        </span>
    </row>
</div>