<div class="checklist">
  <span class="pull-right small"><a href="../search?tree={{arrangementUri}}">Full Search <i
      class="fa fa-search"></i></a></span>

  <span class="input-group pull-right small " ng-class="quicksearch.open ? 'open' : ''"
        style="width: 170px; margin-right: 1em;">
        <span class="input-group-addon"
              style="padding: 2px; border-top-left-radius: 1em; border-bottom-left-radius: 1em;">
            <i class="fa" ng-class="quicksearch.inProgress? 'fa-spin fa-spinner' : 'fa-search'"></i></span>
        <input ng-model="quicksearch.text" ng-change="quicksearch.onchange()" class="form-control"
               style="padding: 2px; font-size: inherit; height:100%; width: 160px;">
        <span class="input-group-addon fabutton" ng-if="quicksearch.hasResults" style="padding: 2px;"
              ng-click="quicksearch.onclickDropdownbutton()">
            <i class="fa" ng-class="quicksearch.open ? 'fa-caret-down' : 'fa-caret-left'">&nbsp;</i></span>
        <div class="dropdown-menu" style="left: auto; margin: 0; padding: 5px 3px; right: 0;">
            <div ng-if="quicksearch.noMatches" class="text-muted small">No matches</div>
            <div class="dropdown-item hanging-indent small" ng-repeat="r in quicksearch.results"
                 ng-click="quicksearch.onclickSearchResult($index)" ng-bind-html="r.simpleNameHtml"></div>
            <div ng-if="quicksearch.hasMore" class="text-muted small">&hellip; {{quicksearch.more}} more matches</div>
        </div>
    </span>

  <div class="header">

    <h4 class="nav">
      <span ng-if="arrangement.arrangementType.name=='P'">Classification </span>
      <span ng-if="arrangement.arrangementType.name=='U'">Workspace </span>
      <span uri="{{arrangementUri}}" shortarrangementtext></span>
      <span ng-if="arrangement.arrangementType.name=='U'">
        (<span uri="{{arrangement.baseArrangement._uri}}" shortarrangementtext></span>)
      </span>
    </h4>

    <div id="breadcrumbs">
      <i ng-if="pathState.loading" class="fa fa-spinner fa-spin"/>
      <span class="crumb" ng-repeat="item in pathToFocus" ng-click="clickPathToFocus($index)" ng-class="item.css">
    <i ng-if="!$first" class="fa fa-angle-right"></i>
    <span ng-if="item.rank" class="smaller">{{item.rank}}</span>
    <span ng-if="item.label">{{item.label}}</span>
    <span ng-if="item.simpleNameHtml" ng-bind-html="item.simpleNameHtml"/>
</span>
      <span class="crumb" ng-repeat="item in pathToSelection" ng-if="!$first" ng-click="clickPathToSelection($index)"
            ng-class="item.css">
    <i class="fa fa-angle-right"></i>
    <span ng-if="item.rank" class="smaller">{{item.rank}}</span>
    <span ng-if="item.label">{{item.label}}</span>
      <span ng-if="item.simpleNameHtml" ng-bind-html="item.simpleNameHtml"></span>
    </span>
    </div>

  </div>
  <div class="row">
    <div class="col-lg-8 col-md-7 col-sm-6 col-xs-6" ng-if="arrangementUri && focusJson.node">
      <branch-checklist arrangement-uri="{{arrangementUri}}" json="focusJson"></branch-checklist>
    </div>
    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-6">
      <info-pane arrangement-uri="{{arrangementUri}}" node="{{cursorNode}}"></info-pane>
    </div>
  </div>
</div>