<div class="container-fluid">
  <ul class="nav nav-tabs">
    <li role="presentation" ng-class="checklist_scope.activeTab=='synonomy' ? 'active' : ''"><a
        ng-click="checklist_scope.activeTab='synonomy'; $event.stopPropagation();">Synonymy</a></li>
    <li role="presentation" ng-class="checklist_scope.activeTab=='profile' ? 'active' : ''"><a
        ng-click="checklist_scope.activeTab='profile'; $event.stopPropagation();">Profile</a></li>
    <li role="presentation" ng-class="checklist_scope.activeTab=='actions' ? 'active' : ''"><a
        ng-click="checklist_scope.activeTab='actions'; $event.stopPropagation();">Actions</a></li>
  </ul>

<!-- Synonomy Pane -->

  <div>
    <div ng-class="checklist_scope.activeTab=='synonomy'?'':'hidden'" class="tab-pane">

      <apni-format uri="{{nodeUris.nameUri}}"></apni-format>

    </div>

<!-- Profile Pane -->

    <div ng-class="checklist_scope.activeTab=='profile'?'':'hidden'" class="tab-pane">

      <div ng-repeat="link in nodeJson.values" class="profile">
        <label>{{link.title ? link.title : (link.linkTypeUri.nsPart+':'+link.linkTypeUri.idPart) }}</label>
        <div ng-if="link.valueUri" class="value">
          <a href="{{link.valueUri.uri}}">
            {{link.valueUri.nsPart}}:{{link.valueUri.idPart}}
          </a>
        </div>
        <div ng-if="link.value" class="value" ng-bind-html="link.value"></div>
      </div>

    </div>

<!-- Actions Pane -->

    <div ng-class="checklist_scope.activeTab=='actions'?'':'hidden'" class="tab-pane">

      <h4><span uri="{{nodeUris.instanceUri}}" shortinsttext/></h4>

      <!-- Go to instance editor -->
      <div style="margin-bottom: 1em;">
        <a href="{{instanceEditorUrl}}/search?utf8=%E2%9C%93&query_string=id%3A+{{nodeUris.nameId}}+show-instances%3A&query_submit=Search&query_target=Names&old_ffox=false&focus_id={{nodeUris.instanceId}}"
           target="NSL Instance Editor">
          <i class="fa fa-edit" title="Edit"></i> Instance Editor
        </a>
      </div>

      <!-- Verify then Checkin -->
      <div style="margin-bottom: 1em;">
        <a href="{{pagesUrl}}/verification/verify?tree={{checklist_scope.arrangementUri}}&focus={{nodeUris.nodeUri}}"
           ng-if="!nodeJson.replacedAt">
          Verify<span ng-if="editable()"> then Checkin</span>
        </a>
      </div>

      <!-- Change list -->
      <div style="margin-bottom: 1em;" ng-if="modifiedDraft()">
        <a href="{{pagesUrl}}/verification/changes?tree={{checklist_scope.arrangementUri}}&focus={{nodeUris.nodeUri}}">
          Change list
        </a>
      </div>

      <div style="margin-bottom: 1em;" ng-if="editable()">

        <!-- Revert changes -->
        <div style="margin-bottom: 1em;" ng-if="!revertState.verifyResult && !revertState.revertResult">
          <button class="btn btn-danger" ng-class="revertState.busy ? 'disabled' : ''" ng-click="verifyRevert()">
            Revert changes
          </button>
          <i class="fa fa-spinner fa-spin" ng-if="revertState.busy"></i>
        </div>
        
        <div style="margin-bottom: 1em;" ng-if="revertState.verifyResult" class="well">
          <div ng-repeat="m in revertState.verifyResult.msg" nested-message usemessage="m"></div>

          <div style="margin-top: 1em;">
            <button class="btn btn-danger" ng-click="performRevert()"
                    ng-class="revertState.verifyResult.success && !revertState.busy ? '' : 'disabled'">Proceed
            </button>
            <button class="btn btn-default" ng-click="revertState.verifyResult=null">Cancel</button>
            <i class="fa fa-spinner fa-spin" ng-if="revertState.busy"></i>
          </div>
        </div>
        <div style="margin-bottom: 1em;" ng-if="revertState.revertResult" class="well">
          <div ng-repeat="m in revertState.revertResult.msg" nested-message usemessage="m"></div>

          <div style="margin-top: 1em;">
            <button class="btn btn-success" ng-if="revertState.revertResult.success"
                    ng-click="revertState.revertResult=null">Ok
            </button>
            <button class="btn btn-default" ng-if="!revertState.revertResult.success"
                    ng-click="revertState.revertResult=null">Cancel
            </button>
            <i class="fa fa-spinner fa-spin" ng-if="revertState.busy"></i>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
