<div ng-if="json && json.fetching">
  <i class="fa fa-refresh fa-spin"></i>
  <small class="text-muted">{{uri}}</small>
</div>
<div class="coll-sm-1 col-md-1 col-lg-1">argh</div>
<div class="coll-sm-5 col-md-4 col-lg-3">
<form ng-if="!json || json.fetched">
    <div class="form-group" ng-if="json">
      <label for="topNode">Base classification</label>
      <div id="topNode">
        <span shortarrangementtext uri="{{form.baseClassification}}">{{form.baseClassification}}</span>
      </div>
    </div>

    <div class="form-group" ng-if="!json">
      <label for="pickBaseClassification">Base classification
      </label>
      <select class="form-control" id="pickBaseClassification" ng-model="form.baseClassification">
        <option style='display: none' value="">-- choose classification --</option>
        <option ng-repeat="tree in classifications" value="{{tree.uri}}">
          <span>{{tree.label}}</span>
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="formTitle">Title *</label>
      <input required="true" type="text" class="form-control" id="formTitle" ng-model="form.title"
             placeholder="required">
    </div>
    <div class="form-group">
      <label for="formShared">Shared </label>
      <input required="true" type="checkbox" id="formShared" ng-model="form.shared">
    </div>
    <div class="form-group">
      <label for="formDesc">Description</label>
      <textarea ng-model="form.description" id="formDesc" class="form-control"></textarea>
    </div>
    <div class="form-group" ng-if="uri">
      <button class="btn btn-default" ng-click="clickReset()">Reset</button>
      <button class="btn btn-primary" ng-click="clickSave()" ng-disabled="!form.title || busy">Save</button>
      <button class="btn btn-danger" ng-click="clickDelete()">Delete</button>
    </div>

    <div class="form-group" ng-if="!uri">
      <button class="btn btn-primary" ng-click="clickCreate()" ng-disabled="!form.title || busy">
        <span ng-if="!busy">Save</span>
        <i ng-if="busy" class="fa fa-recycle fa-spin"></i> </button>
    </div>
</form>
</div>
<div class="coll-sm-6 col-md-7 col-lg-8"></div>
