<span ng-if="!json.fetched">&nbsp;</span>
<span ng-if="json.fetched">
    <span ng-switch="json.typeUri.uri" ng-class="json.typeUri.css">
        <span ng-switch-when="http://biodiversity.org.au/voc/boatree/BOATREE#classification-node"><span shortarrangementtext uri="{{json.arrangement._uri}}"></span></span>
        <span ng-switch-when="http://biodiversity.org.au/voc/boatree/BOATREE#classification-root"><span shortarrangementtext uri="{{json.arrangement._uri}}"></span></span>
        <span ng-switch-when="http://biodiversity.org.au/voc/boatree/BOATREE#workspace-root"><span shortarrangementtext uri="{{json.arrangement._uri}}"></span></span>
        <span ng-switch-default>
            <span ng-switch="json.type">
                <span ng-switch-when="T">
                    <span uri="{{json.name._uri}}" nameonlytext></span>
                </span>
                <span ng-switch-when="S">{{json.idPart}}</span>
                <span ng-switch-default>{{json.typeUri.idPart}}</span>
            </span>
        </span>
    </span>
</span>
<span ng-if="json.fetching"> <i class="fa fa-spinner fa-spin"></i></span>
<span ng-if="json.queued_for_fetching"> <i class="fa fa-spinner"></i></span>
