<span ng-if="isLoggedIn()" class="text-info">
Logged in as <strong>{{getUser()}}</strong>
<a class="btn btn-default btn-sm" ng-click="logout()"><i class="fa fa-user-times"></i></a>
</span>
<span ng-if="!isLoggedIn()" class="form-group">
Login: <input ng-model="form.name"
              type="text"
              placeholder="User Name"/>
  <input ng-model="form.password"
         type="password"
         placeholder="password"
         ng-keypress="$event.which === 13 && login()"/>
<a class="btn btn-primary btn-sm" ng-click="login()"><i class="fa fa-user-plus"></i></a>
</span>
