<div>
    <div class="pull-right"><a href="{{type=='P'?'../Classifications':'../Workspaces'}}">Back</a></div>
    <h4>Find name in <span uri="{{uri}}" shortarrangementtext></span></h4>

    <ul class="nav nav-tabs">
        <li role="presentation" ng-click="clickSearchTab()" ng-class="tab == 'searchTab' ? 'active' : ''"><a
                href="#">Search</a></li>
        <li role="presentation" ng-click="clickResultsTab();"
            ng-class="(tab == 'resultsTab' ? 'active' : '') + (hasResults ? '' : ' disabled')"><a href="#">Search Results</a></li>
    </ul>

    <div class="container" id="search-container" ng-class="tab == 'searchTab' ? '' : 'hidden'"></div>

    <div ng-class="tab == 'resultsTab' ? '' : 'hidden'">
        <div ng-if="searching"><i class="fa fa-refresh fa-spin"></i> Searching &hellip;</div>
        <div ng-if="!searchResults && !searching">No names found.</div>
        <div ng-if="searchResults">
            <table class="table">
                <tr ng-repeat="r in searchResults">
                    <td><a href="{{pagesUrl}}/editnode/checklist?focus={{r}}&tree={{uri}}"><span uri="{{r}}" shortnodetext/></a></td>
                </tr>
            </table>
        </div>
    </div>


</div>
