<div>
    <div class="pull-right"><a href="addRemoveNames?root={{rootUri}}&focus={{focusUri}}">Back</a></div>
    <h4>Search and add names</h4>
    <h1><span uri="{{focusUri}}" shortnodetext></span> <small>{{arrangement.label}}{{arrangement.title}}</small>
    </h1>
</div>

<div ng-if="searchError" class="alert alert-warning">
    {{searchError.config.url}}<br>
    <strong>{{searchError.status}}</strong> - {{searchError.statusText}}
    <blockquote>{{searchError}}</blockquote>
</div>

<!-- the input form -->
<form>
    <fieldset class="form-group">
        <label for="inputName">Name</label>
        <input type="text" class="form-control" id="inputName" ng-model="form.name">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="form.includeSubnames">
                Include subnames
            </label>
        </div>
    </fieldset>
    <fieldset class="form-group">
        <label for="inputReference">Reference</label>
        <input type="text" class="form-control" id="inputReference" ng-model="form.reference" ng-change="changeReference()">
        <button type="button" id="inputNamesOnly" ng-class="form.namesOnly ? 'active' : ''" class="btn btn-default btn-sm" ng-click="clickNamesOnly()">Names only</button>
        <button type="button" id="inputAllReferences" ng-class="form.allReferences ? 'active' : ''" class="btn btn-default btn-sm" ng-click="clickAllReferences()">All References</button>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="form.includeSubreferences">
                Include subreferences
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="form.primaryInstancesOnly">
                Primary instances only
            </label>
        </div>
    </fieldset>

    <fieldset class="form-group">
        <button type="button" ng-class="(form.searching ? 'disabled' : '')" class="btn btn-primary" ng-click="clickSearch()">Search</button>
    </fieldset>

</form>


<div ng-if="searching">
    <hr>
    <i class="fa fa-refresh fa-spin"></i>
</div>

<div ng-if="searchResults && searchResults.length && searchResults.length > 0">
    <div class="pull-right">
        <a href="#" ng-click="clickSelectAll()">Select All</a>
        |
        <a href="#" ng-click="clickDeselectAll()">Deselect All</a>
        |
        <a href="#" ng-click="searchResults.length=0" class="pull-right">Clear search results</a>
    </div>
    <table class="table">
        <caption>Search Results</caption>
        <tr ng-repeat="uri in searchResults" searchresultrow uri="{{uri}}">
        </tr>
    </table>
    <div class="pull-right">
        <a href="#" ng-click="clickSelectAll()">Select All</a>
        |
        <a href="#" ng-click="clickDeselectAll()">Deselect All</a>
        |
        <a href="#" ng-click="searchResults.length=0" class="pull-right">Clear search results</a>
    </div>
</div>

<div ng-if="selected && selected.length && selected.length > 0">
    <a href="#" ng-click="selected.length=0" class="pull-right">Clear selection results</a>
    <table class="table">
        <caption>Selected</caption>
        <tr ng-repeat="uri in selected" searchresultrow uri="{{uri}}">
        </tr>
    </table>
    <a href="#" ng-click="selected.length=0" class="pull-right">Clear selection results</a>
    <button type="button" class="btn btn-primary" ng-click="clickAddNames()">Add {{selected.length}} name{{selected.length!=1?'s':''}}.</button>
</div>