.fabutton {
    padding: 0 .2em 0 .2em;
    border-radius: .25em;
    width: 1.1em;
    text-align: center;
}

.fabutton:hover {
    color: white;
    background-color: #333;
}

.controlholder > .controls {
    display: none;
    position: relative;
    left: .5em;
}

.controlholder:hover > .controls {
    display: inline-block;
    cursor: pointer;
    position: relative;
    z-index: 99;
}

.dragover {
    background: #fafad2;
}

.bookmark-off {
    color: lightgray;
}

.bookmark-on {
    color: darkgreen;
}

.apc-excluded {
    color: #B02020
}

.declared-bt {
    color: #808080
}

.draggable-uri {
    cursor: grab;
}

.droppable-uri {
}


.nodelist {
}

.nodelist-item {
}

.nodeitem {
}

.nodeitem-handle {
    font-size: 95%;
}

.nodeitem-content {
    cursor: pointer;
}

.nodeitem-item {
}

.nodeitem-list {
  margin-left: 2em;
}


.selected {
    background: #fafad2;
    font-weight: bolder;
}

#breadcrumbs {
    font-size: smaller;
}

#breadcrumbs > .crumb {
    cursor: pointer;
}

.nodeitem-content .authYear {
    font-size: 85%;
}

.nodeitem-content .name {
    /* font-family: serif; */
}

.nodeitem-content .instance-type {
    font-size: 75%;
    color: #999;
}

