.controls {
    font-size: smaller;
}

.controlholder > .controls {
    display: none;
    cursor: pointer;
}

.controlholder:hover > .controls {
    display: inline-block;
}

.controls {
    margin-left: 1.5em;
}

.bookmark-off {
    color: lightgray;
}

.bookmark-on {
    color: darkgreen;
}