/*
 *= require bootstrap.min
 *= require font-awesome.min
 *= require_self
*/

.fabutton {
    cursor: pointer;
}

.dropdown-item {
    cursor: default;
}

.dropdown-item:hover {
    background-color: lightgoldenrodyellow;
}

.hanging-indent {
    padding-left: 1em;
    text-indent: -1em;
}