/*
 * require bootstrap
 */

#tree-edit-app-container {
    margin: 10px; padding: 0; position: absolute; top: 0; bottom: 0; left:0; right:0;
    color: #202020;
}

#tree-edit-app-pane {
    margin:0; padding:1em; position: absolute; top: 0; bottom: 0; left:0; right:0;
    background-color: #FCFCFC;
}

#tree-edit-app-nav {
    margin: 0; padding:.5em; position: absolute; top: 0; left:0; right:0; height: 2.5em;
}

#tree-edit-app-footer {
    margin:0; padding:.5em; position: absolute; bottom: 0; left:0; right:0; height: 2em;
}

#tree-edit-app-main {
    margin:0; padding:1em; position: absolute; top: 2.5em; bottom: 2em; left:0; right:0;

}

#tree-edit-app-working {
    padding: 0; position: absolute; top: 0; height:100%; right:0; width:62%;
}

#tree-edit-app-working-header {
}

#tree-edit-app-working-left-header {
    border: thin solid black;
}

#tree-edit-app-working-right-header {
    border: thin solid black;
}

#tree-edit-app-working-body {
}

#tree-edit-app-working-body-left {
    border: thin solid black;
}

#tree-edit-app-working-body-right {
    border: thin solid black;
}

#tree-edit-app-rightpanel {
    margin:0 0; padding:1em; position: absolute; top: 0; bottom: 0; left:0; width:38%;
    border: thin solid darkslategrey;
    background-color: lightslategrey;
}

.tree-edit-classifcations-pane {
    margin: 0;
    padding: 2px;
    background: #FCFCFC;
}

.item-body {
    margin: 0;
    padding: 0;
}

.item-body-tree-handle {
    cursor: pointer;
    width: 1em;
}

.item-body-sublist {
    margin-left: 1em;
}

.item-body-sublist-open {
    display: block;
}

.item-body-sublist-closed {
    display: none;
}

.apc-voc.declared-bt {
    color: darkgrey;
}

.apc-voc.apc-excluded {
    color: red;
}