<div>
    <span ng-repeat="uri in path">
        <i ng-if="! $first" class="fa fa-angle-right"></i>
        <span class="controlholder">
            <a ng-if="!$last" href="#" ng-click="clickPath($index)"><span uri="{{uri}}" shortnodetext></span></a>
            <span ng-if="$last"uri="{{uri}}" shortnodetext></span>

            <span class="controls">
                <i ng-if="!$first" class="fabutton fa fa-external-link" ng-click="clickNewWindow($index)"></i>
            </span>
        </span>
    </span>
</div>
<h1 ng-if="!arrangement">{{listType}} checklist</h1>
<h1 ng-if="arrangement">{{arrangement.label}}{{arrangement.title}}</h1>
<div ng-bind-html="arrangement.description"></div>
<div ng-if="taxanodes_bookmarks.vec.length > 0">
<span ng-repeat="uri in taxanodes_bookmarks.vec track by $index">
    <span shortnodetext uri="{{uri}}"></span> <i class="fa fa-remove fabutton" ng-click="clickTrashBookmark(uri)"></i>
</span>
<a ng-if="taxanodes_bookmarks.vec.length > 1" href="#" ng-click="clickClearBookmarks()" class="btn btn-sm">clear {{taxanodes_bookmarks.vec.length}} bookmarks</a>
</div>
<div>
    <h2><span uri="{{focusNode}}" shortnodetext></span></h2>
</div>
<div>
    <div nodelist uri="{{focusNode}}"></div>
</div>

