<div ng-if="serversideOperationState.open" class="well">
    <i ng-if="serversideOperationState.inProgress" class="fa fa-spinner fa-spin"></i>

    <div ng-if="serversideOperationState.msg" class="alert" ng-class="'alert-' + serversideOperationState.msg.status">
        <strong>{{serversideOperationState.msg.msg}}</strong>
        {{serversideOperationState.msg.body}}
    </div>

    <div ng-if="!serversideOperationState.inProgress">
        <div ng-repeat="opt in serversideOperationState.chooseAction">
            <i ng-if="serversideOperationState.confirm == opt" class="fa fa-check-square-o fabutton" ng-click="serversideOperationState.confirm = null"></i>
            <i ng-if="serversideOperationState.confirm != opt" class="fa fa-square-o fabutton" ng-click="serversideOperationState.confirm = opt"></i>
                <span ng-class="'text-' + opt.msg.status">
                    <strong>{{opt.msg.msg}}</strong>
                    {{opt.msg.body}}
                </span>
        </div>
        <button ng-if="serversideOperationState.chooseAction" class="button btn-primary btn-sm" ng-click="sendServersideOperation()">Ok</button>
        <button class="button btn-default btn-sm" ng-click="clearServersideOperationState()">Cancel</button>
    </div>
</div>
