<div ng-if="serversideOperationState.open" class="well">
    <i ng-if="serversideOperationState.inProgress" class="fa fa-spinner fa-spin"></i>

    <div ng-if="serversideOperationState.msg.msg" class="alert"
         ng-class="'alert-' + serversideOperationState.msg.status">
        <strong>{{serversideOperationState.msg.msg}}</strong>
        {{serversideOperationState.msg.body}}
    </div>
    <div ng-repeat="m in serversideOperationState.msg">
        <span ng-class="'text-' + m.status">
            <strong>{{m.msg}}</strong>
            {{m.body}}
        </span>
    </div>

    <div ng-if="!serversideOperationState.inProgress">
        <div ng-repeat="inf in serversideOperationState.moreInfoNeeded" ng-if="inf.msg||inf.options"
             ng-class="'alert-' + inf.msg.status">
            <div ng-if="inf.msg.msg">
                <span ng-class="'text-' + inf.msg.status">
                    <strong>{{inf.msg.msg}}</strong>
                    {{inf.msg.body}}
                </span>
            </div>
            <div ng-repeat="m in inf.msg">
                <span ng-class="'text-' + m.status">
                    <strong>{{m.msg}}</strong>
                    {{m.body}}
                </span>
            </div>
            <div ng-repeat="opt in inf.options">
                <i ng-if="inf.selected == opt.whenSelected" class="fa fa-dot-circle-o fabutton"
                   ng-click="inf.selected = null"></i>
                <i ng-if="inf.selected != opt.whenSelected" class="fa fa-circle-o fabutton"
                   ng-click="inf.selected = opt.whenSelected"></i>
                <span ng-class="'text-' + opt.status">
                    <strong>{{opt.msg}}</strong>
                    {{opt.body}}
                </span>
            </div>
        </div>


        <button class="button btn-sm btn-primary"
                ng-click="sendServersideOperation()">Ok
        </button>
        <button class="button btn-default btn-sm" ng-click="clearServersideOperationState()">Cancel</button>
    </div>
</div>
