<div class="nodeitem-item controlholder">
    <span class="nodeitem-handle">
        <i ng-if="json.fetched && hasSubnodes && UI.open" class="fa fa-angle-down fabutton"
           ng-click="UI.open = false;"></i>
        <i ng-if="json.fetched && hasSubnodes && !UI.open" class="fa fa-angle-right fabutton"
           ng-click="UI.open = true;"></i>
        <i ng-if="!json.fetched || !hasSubnodes" class="fa fabutton">&nbsp;</i>
    </span>
    <span class="nodeitem-content">
        <span ng-if="json.fetching"><i class="fa fa-reload fa-spin"></i> </span>
        <span ng-if="!json.fetched"><small class="text-muted">{{uri}}</small></span>
        <span ng-if="json.fetched">
            <small ng-if="!json.checkedInAt" class="draft-node"><i class="fa fa-asterisk"></i></small>
            <small ng-if="json.replacedAt" class="replaced-node"><i class="fa fa-ban-circle"></i></small>
            <span class="draggable-uri droppable-uri"
                  draggable="true"
                  ondragstart="dragUriStart(event)"
                  ondragend="dragUriEnd(event)"
                  ondrop="dropUri(event)"
                  ondragover="dropUriOver(event)"
                  ondragenter="dropUriEnter(event)"
                  ondragleave="dropUriLeave(event)"
            ><span uri="{{uri}}" shortnodetext></span></span>
        </span>
    </span>
    <span class="controls">
        <small class='text-muted' uri="{{json.arrangement._uri}}" shortarrangementtext></small>
        <a href="{{uri}}"><i class="fa fa-link"></i></a>
        <i ng-if="hasSynonyms" title="synonyms" class="fabutton" ng-click="clickShowSynonyms()">=</i>
        <i title="focus here" class="fabutton fa fa-level-up" ng-click="clickUpArrow()"></i>
        <i title="bookmark this placement" ng-if="json.type=='T'" class="fabutton fa fa-bookmark" ng-click="clickAddBookmark()"></i>
        <a href="#" ng-click="clickNewWindow()">new window</a>
        <span ng-if="cl_scope.rootPermissions.uriPermissions.canEdit && cl_scope.rootPermissions.uriPermissions.isWorkspace">
            <div style="display: inline-block;">
                <i class="fabutton fa fa-edit" ng-click="toggleNodeTypeDropdown()"></i>
                <ul ng-if="nodeTypeDropdown"
                    ng-mouseleave="closeNodeTypeDropdown()"
                style="position: absolute; z-index:1000; width:100%; top:.95em;
                background: white;
                padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
                "
                >
                    <li><a href="#" ng-click="clickNodeType('apc-voc', 'ApcConcept')"><i class="fa fabutton" ng-class="json.typeUri.idPart == 'ApcConcept' ? 'fa-check-circle-o' : 'fa-circle-o'"></i> <span>Accepted</span></a></li>
                    <li><a href="#" ng-click="clickNodeType('apc-voc', 'ApcExcluded')"><i class="fa fabutton" ng-class="json.typeUri.idPart == 'ApcExcluded' ? 'fa-check-circle-o' : 'fa-circle-o'"></i> <span class="apc-excluded">Excluded</span></a></li>
                    <li><a href="#" ng-click="clickNodeType('apc-voc', 'DeclaredBt')"><i class="fa fabutton" ng-class="json.typeUri.idPart == 'DeclaredBt' ? 'fa-check-circle-o' : 'fa-circle-o'"></i> <span class="declared-bt">Untreated name</span></a></li>
                  </ul>
            </div>
            <i title="remove" class="fabutton fa fa-remove" ng-click="clickRemove()"></i>
            <i title="revert" class="fabutton fa fa-undo" ng-if="json.fetched && !json.checkedInAt" ng-click="clickRevert()"></i>
            <i title="check in" class="fabutton fa fa-sign-in" ng-if="json.fetched && !json.checkedInAt && json.prev" ng-click="clickCheckin()"></i>
        </span>
    </span>

    <div droptarget/>
</div>
<div node-synonym-list ng-if="hasSynonyms && UI.showSynonyms" uri="{{json.instance._uri}}" style="margin-left: 3.5em;">
</div>
<div ng-if="json.fetched && hasSubnodes && UI.open" class="nodeitem-list">
    <div uri="{{uri}}" class="nodelist" nodelist></div>
</div>
