<div>
    <span class="pull-left">
        <i ng-if="json.fetched && hasSubnodes && UI.open" class="fa fa-angle-down fabutton larger" ng-click="UI.open = false;"></i>
        <i ng-if="json.fetched && hasSubnodes && !UI.open" class="fa fa-angle-right fabutton larger" ng-click="UI.open = true;"></i>
    </span>
    <div style="margin-left: 1em;" class="controlholder">
        <a href="#" ng-click="clickUpArrow()"><span shortnodetext uri="{{uri}}"></span></a>
        <span class="controls">
            <i ng-if="json.type=='T'" class="fabutton fa fa-bookmark" ng-click="clickBookmark()"></i>
            <a href="#" ng-click="clickNewWindow()">new window</a>
        </span>
    </div>
</div>
<div style="margin-left: 2em;" ng-if="json.fetched && hasSubnodes && UI.open" uri="{{uri}}" nodelist></div>
