<div ng-repeat="cited in json.instancesForCitedBy">

    <small class="controlholder">
        <span ng-switch="cited.instanceType">
            <b data-toggle="tooltip" title="has {{cited.instanceType}}" style="cursor: help;" ng-switch-when="nomenclatural synonym">&equiv;</b>
            <b data-toggle="tooltip" title="has {{cited.instanceType}}" style="cursor: help;" ng-switch-when="taxonomic synonym">=</b>
            <b data-toggle="tooltip" title="has {{cited.instanceType}}" style="cursor: help;" ng-switch-when="misapplied">&ne;</b>
            <b data-toggle="tooltip" title="has {{cited.instanceType}}" style="cursor: help;" ng-switch-when="pro parte">&cap;</b>
            <small class="text-muted" ng-switch-default>has {{cited.instanceType}}</small>
        </span>
        <span class="draggable-uri droppable-uri"
              draggable="true"
              ondragstart="dragCitedStart(event)"
              ondragend="dragCitedEnd(event)"
              data-uri="{{cited._uri}}"
        >
            <span shortinstcitestext uri="{{cited._uri}}"></span>
        </span>
        <span class="controls">
            <a href="{{cited._uri}}"><i class="fa fa-link"></i></a>
        </span>
    </small>
</div>
<div ng-repeat="citation in json.instancesForCites">
    <small class="controlholder">
        <small class="text-muted">{{citation.instanceType}} of</small>
        <span class="draggable-uri droppable-uri"
              draggable="true"
              ondragstart="dragCitationStart(event)"
              ondragend="dragCitationEnd(event)"
              data-uri="{{citation._uri}}"
        >
            <span shortinstcitedbytext uri="{{citation._uri}}"></span>
        </span>
        <span class="controls">
            <a href="{{citation._uri}}"><i class="fa fa-link"></i></a>
        </span>
    </small>
</div>
