<div>
    <span class="pull-left">
        <i ng-if="json.fetched && hasSubnodes && UI.open" class="fa fa-angle-down fabutton larger" ng-click="UI.open = false;"></i>
        <i ng-if="json.fetched && hasSubnodes && !UI.open" class="fa fa-angle-right fabutton larger" ng-click="UI.open = true;"></i>
    </span>
    <div style="margin-left: 1em;" class="controlholder">
        <span ng-if="json.fetching"><i class="fa fa-reload fa-spin"></i> </span>
        <span ng-if="!json.fetched"><small class="text-muted">{{uri}}</small></span>
        <span ng-if="json.fetched">
            <small ng-if="!json.checkedInAt" class="draft-node"><i class="fa fa-asterisk"></i></small>
            <small ng-if="json.replacedAt" class="replaced-node"><i class="fa fa-ban-circle"></i></small>
            <span draggable="true"
                  ondragstart="dragUri(event)"
                  ondrop="dropUri(event)"
                  ondragover="allowDropUri(event)"
            ><span uri="{{uri}}" shortnodetext></span></span>
        </span>
        <span class="controls">
            <i ng-if="json.type=='T'" class="fabutton fa fa-bookmark" ng-click="clickBookmark()"></i>
            <a href="#" ng-click="clickNewWindow()">new window</a>
        </span>
    </div>
</div>

<div style="margin-left: 2em;" ng-if="json.fetched && hasSubnodes && UI.open" uri="{{uri}}" nodelist></div>