<span ng-if="json.fetching"><i class="fa fa-reload fa-spin"></i> </span>
<span ng-if="!json.fetched"><small class="text-muted">{{uri}}</small></span>
<span ng-if="json.fetched">
    <span ng-switch="json.typeUri.uri" ng-class="json.typeUri.css">
        <span ng-switch-when="http://biodiversity.org.au/voc/boatree/BOATREE#classification-root">Classification</span>
        <span ng-switch-when="http://biodiversity.org.au/voc/boatree/BOATREE#workspace-root">Workspace</span>
        <span ng-switch-default>
            <span ng-switch="json.type">
                <span ng-switch-when="T">
                    {{name.name.fullNameHtml}}
                </span>
                <span ng-switch-when="S">{{json.idPart}}</span>
                <span ng-switch-default>{{json.typeUri.idPart}}</span>
            </span>
        </span>
    </span>
</span>
